body {
    background-color: orange;
}

#scatterplot{
    width: 600px;
    height: 300px;
    background-color: darkgrey;
    margin: 10px auto;
}

#data_form {
    display: block;
    margin: 0 auto;
}
